SECRET_KEY=change-me

DATABASE_URL=postgresql://postgres:kcpl2021Dataaws@data-analysis-db.c6jqnuecx3su.us-east-2.rds.amazonaws.com:5432/inclusive_experiences_tracker
AUTO_CREATE_TABLES=true
AUTO_SEED_DATA=true
